<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search requests logger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body style="padding: 50px; vertical-align: middle">
<!--<form action="add" method="post">-->
<!--<div class="jumbotron">-->
<!--<h2>-->
<!--Send request-->
<!--</h2>-->
<!--<div class="col-lg-6">-->
<!--<div class="input-group text-center">-->
<!--<input type="text" class="form-control" placeholder="Timestamp" name="timestamp"/>-->
<!--</div>-->
<!--<span class="input-group-btn">-->
<!--<button class="btn btn-default" type="submit">Send</button>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->

<!--<input type="text" class="form-control" th:object="from" placeholder="Timestamp" name="timestamp"/>-->
<!--<a class="btn btn-default" href="/find" th:ref="${from}">Clear DB</a>-->


<span class="input-group-btn">
    <a class="btn btn-default" href="/clear">Clear DB</a>
    <a class="btn btn-default" href="/count">Count</a>
</span>


</body>

</html>
